# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = '2'

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  config.vm.synced_folder '.', '/vagrant' , disabled: true
  config.vm.box = 'foo/bar'
  config.vm.provision 'ansible' do |ansible|
    ansible.playbook = 'ansible/provision.yml'
    ansible.inventory_path = 'ansible/vagrant-inventory.ini'
    ansible.verbose = 'v'
  end

end
